/* body, html {
    height: 100%;
} */
body {
    background-image: url(../img/rsz_fondo-login.jpg);
    background-size: cover;
}
.show-password {
    cursor: pointer;
  }
  
body #contenedor-login{
    background-color: rgba(255, 255, 255, 0.2) !important;
}
body #boton-inicio{
    background-color: rgba(75, 174, 0, 0.7) !important;
    padding: 7px;
    border-radius: 7px;
}
body #boton-inicio:hover{
    background-color: rgba(75, 174, 0) !important;
}
