body {
  background-color: rgb(247, 246, 246);
}

section #menu-navegacion {
  background-color: rgb(204, 204, 204);
}

#escritorio-contenido {
  background-color: rgb(230, 230, 230);
}

#texto-usuario {
  font-weight: 600;
  font-size: 1.3rem;
}

#contenedor-img {
  margin: 0 auto !important;
}

#img-section {
  width: 60px;
}

#clock,
#date {
  font-weight: 500;
  font-size: 1.3em;
}

/*Solo es la linea de separacion entre horas-fecha y menú*/
#caja-separacion {
  background-color: rgb(112, 39, 1);
  width: 100%;
  height: 5px;
  border-radius: 8px;
}

#titulo-menu {
  font-weight: 650;
  font-size: 1.4rem;
}

div .opcion-menu{
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 650;
}

.opcion-menu {
  padding-left: 1rem;
}

#botones-menu:hover {
  background-color: rgba(223, 238, 255, 0.692);
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Establece el ancho del elemento para pantallas menores a: */
@media (max-width: 1367px) {
  #clock,
  #date {
    font-size: 95%;
    margin-left: -15px;
    margin-top: 3px;
  }

  #img-section {
    width: 25px !important;
    height: 25px !important;
  }

  #titulo-menu {
    font-size: 98%;
  }

  #img-submenu {
    width: 28px !important;
    height: 28px !important;
  }

  #botones-menu {
    height: 2.5rem;
    width: 100%;
  }

  #botones-menu a {
    font-size: 85%;
  }
  #contenedor-menu-navegacion,
  #contenedor-escritorio-contenido {
    height: 35.6rem;
  }
  #menu-navegacion,
  #escritorio-contenido {
    height: 35rem;
  }
  .top-menu{
    padding-top: 25px !important;
  }
  #ico-home{
    margin-left: 15px;
  }
}

/* Establece el ancho del elemento para pantallas menores a: (768)*/
@media (max-width: 1100px) {
  #clock,
  #date {
    font-size: 60%;
    margin-left: -15px;
    margin-top: 5px;
  }
  #img-section {
    width: 20px !important;
    height: 20px !important;
  }
  #titulo-menu,
  #img-submenu {
    font-size: 80%;
    width: 22px !important;
    height: 22px !important;
  }
  #botones-menu {
    width: 100%;
  }
  #botones-menu a {
    font-size: 65%;
  }
  
  /*Para atributos de escritorio Garita-Grupo3*/
  div #titulo-escritorio{
    font-size: 75%;
  }
  #ico-home img {
      width: 22px !important;
      height: 22px !important;
      margin-left: 0.5rem;
  }
}

/* Establece el ancho del elemento para pantallas mayores a: */
@media (min-width: 1368px) {
  #img-section {
    width: 32px !important;
    height: 32px !important;
  }
  #botones-menu{
    height: 2.5rem;
    width: 15rem;
  }

  #contenedor-menu-navegacion,
  #contenedor-escritorio-contenido {
    height: 55.1rem;
  }
  #menu-navegacion,
  #escritorio-contenido {
    height: 54.5rem;
  }
  #ico-home{
    margin-left: 15px;
  }
}
