#titulo-escritorio,
#titulo-escritorio-listado,
#titulo-escritorio-reportes {
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 650;
  font-size: 1.5rem;
}

/*Solo es la linea de separacion entre horas-fecha y menú*/
#caja-separacion-escritorio {
  background-color: rgb(112, 39, 1);
  width: 100%;
  height: 5px;
  border-radius: 8px;
}

/* Establece el ancho del elemento para pantallas menores a: */
@media (max-width: 1367px) {
  #titulo-escritorio {
    margin-top: 1px !important;
  }
  #titulo-escritorio-listado,
  #titulo-escritorio-reportes {
    margin-top: 30px;
    margin-bottom: 27px;
  }
}

/* Establece el ancho del elemento para pantallas menores a: (768)*/
@media (max-width: 1100px) {
}

/* Establece el ancho del elemento para pantallas mayores a: */
@media (min-width: 1368px) {
  #ico-home {
    margin-left: 10px;
  }
  #caja-separacion-escritorio {
    margin-top: 11px;
  }
  #inicio-datos,
  #inicio-formulario {
    margin-top: 50px !important;
  }
  #boton-guardar-garita {
    margin-right: 70px;
    margin-top: 100px;
  }
  #titulo-escritorio-listado,
  #titulo-escritorio-reportes {
    margin-top: 40px;
    margin-bottom: 41px;
  }
  #ico-home{
    margin-left: 15px;
  }
}
